In [9]:
import pandas as pd

In [10]:
lego = pd.read_csv("sets.csv")

In [11]:
lego.head(10)

  set_num                          name  year  theme_id  num_parts
0    00-1               Weetabix Castle  1970       414        471
1  0011-2             Town Mini-Figures  1978        84         12
2  0011-3    Castle 2 for 1 Bonus Offer  1987       199          2
3  0012-1            Space Mini-Figures  1979       143         12
4  0013-1            Space Mini-Figures  1979       143         12
5  0014-1            Space Mini-Figures  1979       143         12
6  0015-1            Space Mini-Figures  1979       143         18
7  0016-1           Castle Mini Figures  1978       186         15
8    00-2  Weetabix Promotional House 1  1976       413        147
9    00-3  Weetabix Promotional House 2  1976       413        149

In [12]:
lego.tail(10)

,set_num,name,year,theme_id,num_parts
11663,VPorient-1,Orient Expedition Value Pack with LEGO Backpac...,2003,300,4
11664,vwkit-1,Volkswagen Kit,1959,366,22
11665,W098-1,"Watch Set, Classic Blue",2006,501,0
11666,W991526-1,Homeschool Introduction to Simple and Motorize...,2009,529,0
11667,Watford-1,"LEGO Store Grand Opening Exclusive Set, Watfor...",2013,408,15
11668,Wauwatosa-1,"LEGO Store Grand Opening Exclusive Set, Mayfai...",2012,408,15
11669,WHITEHOUSE-1,Micro White House,2015,598,59
11670,Wiesbaden-1,"LEGO Store Grand Opening Exclusive Set, Wiesba...",2010,408,146
11671,WishingWell-1,Wishing Well [Toys R Us Promo],2013,494,28
11672,wwgp1-1,Wild West Limited Edition Gift Pack,1996,476,3

In [13]:
lego.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11673 entries, 0 to 11672
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   set_num    11673 non-null  object
 1   name       11673 non-null  object
 2   year       11673 non-null  int64
 3   theme_id   11673 non-null  int64
 4   num_parts  11673 non-null  int64
dtypes: int64(3), object(2)
memory usage: 456.1+ KB

In [14]:
lego.describe()

               year      theme_id     num_parts
count  11673.000000  11673.000000  11673.000000
mean    2001.972758    311.308575    162.262400
std       13.475364    177.999101    330.192108
min     1950.000000      1.000000     -1.000000
25%     1997.000000    161.000000     10.000000
50%     2005.000000    324.000000     45.000000
75%     2012.000000    470.000000    172.000000
max     2017.000000    614.000000   5922.000000